@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --mainBgColor: rgba(20, 20, 31, 11);
  --secondaryBgColor: rgba(27, 27, 39, 1);
  --borderColor1: rgba(40, 41, 57, 1);
  --borderColor2: rgba(79, 86, 105, 1);
  --textColorMain: #fff;
  --themeColorMain: rgba(219, 26, 90, 1);
  --textColorSecondary: rgb(226, 227, 232);
  --themeColorSecondary: #386fd2;
  --default-font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--mainBgColor);
  color: var(--textColorMain);
}
